span {
    text-align: left;
    display: inline-block;
    width: 100%;
  }
  .home{
    justify-self: left;
    font-size: large;
  }
  .login{
    font-size: medium;
  }
  .logout{
    font-size: medium;
  }
  .sign-up{
    font-size: medium;
  }